---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h2>Welcome aboard!</h2>
			<p>This is my blog where I start publishing new article (aka post) and changelogs for my projects and shared projects</p>
			<p>I'm a designer, Kotlin and TS/JS Developer, also I'm a silly furry cat. Sometimes I'm lazy and I like making useless stuff.</p>
		</main>
		<Footer />
	</body>
</html>
